<!DOCTYPE html>
<html>

    <head>

        <body>
            <h1>Welcome to JLH Workshop!</h1>

                <p><a href="/items">View Items</a></p>
                <p><a href="/cart">View Cart</a></p>

        </body>

    </head>

</html>